*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    width:auto ;
    background: #f6f6f6;
}
.logo{ 
    padding-left: 55px;
    float: left;
    display: block;
    text-align: center;
    position: relative;

  
}
.image-logo{
     padding-right: 20px;
    float: left;
    display: inline;
    width: 250px;
    height: 100px;
}



.topnav {
  overflow: hidden;
  background-color: rgba(28, 36, 49, 0.863);
}

.topnav a {
  font-weight: 500;
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 28px;
  text-decoration: none;
  font-size: 16px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  font-size: 16px;
  margin-top: 30px;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 28px;
 background: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

